<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- PARA QUE SE VEA EN TODOS LOS DISPOSITIVOS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Craftsy - Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Alata|Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main-container">
		<header class="main-header">
			
				<img src="/images/logo.png" alt="Craftsy">
			
		  <nav class="left-navbar">
			<ul>
			  <li><a href="#">Productos</a></li>
			  <li><a href="#">Servicios</a></li>
			  <li><a href="#">Buscar</a></li>
			</ul>
		  </nav>
		   <nav class="right-navbar">
			<ul>
			  <li><a href="#">log in</a></li>
			  <li><a href="#">Register</a></li>
			</ul>
		  </nav>
		</header>
			<div class="main-body">
			  <section class="left-section">
				<h1>Productos</h1>
				<article class="product-box">
				  <img src="https://www.dinaup.com/img/modulo/ico/482.png"><h2>Nombre del Producto</h2><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
				</article>
				<article class="product-box">
				  <img src="https://www.dinaup.com/img/modulo/ico/482.png"><h2>Nombre del Producto</h2><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
				</article>
				<article class="product-box">
				  <img src="https://www.dinaup.com/img/modulo/ico/482.png"><h2>Nombre del Producto</h2><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
				</article>
				<article class="product-box">
				  <img src="https://www.dinaup.com/img/modulo/ico/482.png"><h2>Nombre del Producto</h2><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
				</article>
			  </section>
			  <section class="right-section">d</section>
			</div>
		</div>
</body>
</html>